body {
    all: unset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/space2.jpg");
    background-attachment: fixed;
    color: #fff;
}

a {
    color: #000;
    text-decoration: none;
}
h1, h2{
    margin: 0;
}

header {
    height: 50px;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    margin: 5px;
    font-size: 14pt;
}

.menu a:hover {
    animation-name: transfusion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #ff009d;
}

@keyframes transfusion {
    0% {
        color: #000;
    }
    100% {
        color: #ff009d;
    }
}

.logo a {
    font-size: 24pt;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.6);

}

h1{
    font-size: 40pt;
}

p{
    font-size: 18pt;
}

.blackout{
    margin: 0;
    padding: 20px 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

section{
    height: 100vh;
    background-color: #fff;
    color: #000;
    display: flex;
    margin: 20px;
    border-radius: 10px;
}

.description{
    width: 100%;
    padding: 20px;
}

section img{
    height: 100vh;
    border-radius: 10px;
}


.statistics{
    display: flex;
    width: 100%;
}

.statistics div{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.statistics img{
    margin: 5px;
    height: 20px;
}

aside{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

/* Переключатель - коробка вокруг ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.time{
   display: flex;
   align-items: center;
}

.time h3, h4{
    font-size: 12pt;
    margin: 5px 10px;
}





