:root {
    --color_text: #ffffff;
    --back_color: #000000;
    --back_color_reviews: #2c2c2c;
    --maessage_color: #6e6e6e;
  }
  

body {
    all: unset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/space2.jpg");
    background-attachment: fixed;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}
h1, h2{
    margin: 0;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.cont{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.search button{
    all: unset;
    cursor: pointer;
    background-color: var(--color_text);
    color: var(--back_color);
    border-radius: 5px;
    height: 20px;
    margin: 0 5px;
    padding: 2px 5px;
}

.search input{
    height: 20px;
    background-color: var(--color_text);
    color: var(--back_color);
    border-radius: 5px;
}

#dropdown .search input{
    height: auto;
    font-size: 14pt;
    padding: 5px;
    width: 100%;
}

#dropdown .search button{
    height: 100%;
    font-size: 16pt;
    border: 1px solid #000;
}


header {
    height: 50px;
    background-color: #000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_mobail{
    display: none;
}

#dropdown{
    display: none;
    background-color: #fff;
    padding: 10px;
}

#dropdown a{
    font-size: 16pt;
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #000;
}


.menu a {
    margin: 5px;
    font-size: 14pt;
}

.menu a:hover {
    animation-name: transfusion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #ff009d;
}

@keyframes transfusion {
    0% {
        color: #fff;
    }
    100% {
        color: #ff009d;
    }
}

.logo a {
    font-size: 24pt;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);
    background-color: rgba(0, 0, 0, 0.6);

}

h1{
    font-size: 40pt;
}

p{
    font-size: 18pt;
}

.blackout{
    margin: 0;
    padding: 20px 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    display: flex;
    margin: 20px;
    border-radius: 10px;
}

section img{
    border-radius: 10px;
    width: 100%;
}

.description{
    width: 100%;
    padding: 20px;
}

.description a{
    color: #000;
    font-size: 14pt;
}

.description a:hover{
    color: #ff009d;
}

.statistics{
    display: flex;
    width: 100%;
}

.statistics div{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.3);
}

.statistics img{
    margin: 5px;
    height: 20px;
}

aside{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

/* Переключатель - коробка вокруг ползунка */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Ползунок */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Закругленные ползунки */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.time{
   display: flex;
   align-items: center;
}

.time h4{
    font-size: 12pt;
    margin: 5px 10px;
}

.dropbtn{
    font-size: 16pt;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}

@media (max-width: 450px) {
    .header_desktop{
        display: none;
    }

    .header_mobail{
        display: flex;
    }

    .about{
        flex-direction: column;
    }

    .about img{
        height: auto;
        width: 100%;
    }

    body{
        background-size:auto 100%;
    }

    .hero h1{
        font-size: 28pt;
    }

    .hero p{
        font-size: 18pt;
    }

    p{
        font-size: 16pt;
    }

    h1{
        text-align: center;
    }

    p{
        font-size: 18pt;
        text-align: center;
    }

    section img{
        height: auto;
        width: 100%;
    }

    section{
        flex-direction: column;
        height: auto;
    }

    .description{
        box-sizing: border-box; 
    }

    .description p{
        font-size: 16pt;
        text-align: left;
    }

    section{
        width: 100%;
    }
}



