:root {
    --color_text: #000;
    --back_color: #fff;

}

:root[theme="dark"] {
    --color_text: #ffffff;
    --back_color: #000000;
}

body {
    all: unset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--color_text);
    text-decoration: none;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 28pt;
}

header {
    height: 50px;
    background-color: var(--back_color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header_mobail{
    display: none;
}

#dropdown{
    display: none;
    padding: 10px;
}

#dropdown a{
    font-size: 16pt;
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #000;
}

.dropbtn{
    font-size: 16pt;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_text);
    color: var(--back_color);
}

.menu a {
    margin: 5px;
    font-size: 14pt;
}

.menu a:hover {
    animation-name: transfusion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #ff009d;
}

.logo a {
    font-size: 24pt;
}

/* Переключатель - коробка вокруг ползунка */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Ползунок */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4b4b4b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4b4b4b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Закругленные ползунки */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.hero {
    height: calc(100vh - 50px);
    box-sizing: border-box;
    background-image: url(../img/space.jpg);
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.hero h1 {
    margin-top: 0;
    font-size: 52px;
    margin: 0;
    z-index: 3;
}

.hero p {
    font-size: 34px;
    margin: 0;
    z-index: 3;
}

.hero a {
    font-size: 34px;
    color: #ff009d;
    margin-top: 30px;
    z-index: 3;
}

.hero div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.about {
    text-align: center;
    display: flex;
    background-color: var(--back_color);
    color: var(--color_text);
}

.about img {
    height: 100vh;
}

.about div {
    width: 100%;
}

.highlights {
    background-color: var(--color_text);
    color: var(--back_color);
    padding: 40px 20px;
}

.highlights li {
    font-size: 16pt;
}

footer {
    background-color: var(--back_color);
    color: var(--color_text);
    padding: 20px;
}

@keyframes transfusion {
    0% {
        color: #000;
    }
    100% {
        color: #ff009d;
    }
}

@media (max-width: 450px) {
    .header_desktop{
        display: none;
    }

    .header_mobail{
        display: flex;
    }

    .about{
        flex-direction: column;
    }

    .about img{
        height: auto;
        width: 100%;
    }

    .hero{
        background-size:auto 100%;
    }

    .hero h1{
        font-size: 28pt;
    }

    .hero p{
        font-size: 18pt;
    }

    p{
        font-size: 16pt;
    }
}