:root {
    --color_text: #ffffff;
    --back_color: #000000;
    --back_color_reviews: #2c2c2c;
    --maessage_color: #6e6e6e;
}

:root[theme="dark"] {
    --color_text: #000;
    --back_color: #fff;
    --back_color_reviews: #ffffff;
    --maessage_color: #bce2fc;
}

html { scroll-behavior: smooth; }

body {
    all: unset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: var(--color_text);
    text-decoration: none;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 28pt;
}

header {
    height: 50px;
    background-color: var(--back_color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo a{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.cont{
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
}

.search button{
    all: unset;
    cursor: pointer;
    background-color: var(--color_text);
    color: var(--back_color);
    border-radius: 5px;
    height: 20px;
    margin: 0 5px;
    padding: 2px 5px;
}

.search input{
    height: 20px;
    background-color: var(--color_text);
    color: var(--back_color);
    border-radius: 5px;
}

#dropdown .search input{
    height: auto;
    font-size: 14pt;
    padding: 5px;
    width: 100%;
}

#dropdown .search button{
    height: 100%;
    font-size: 16pt;
    border: 1px solid #000;
}

.header_mobail{
    display: none;
}

#dropdown{
    display: none;
    padding: 10px;
}

#dropdown a{
    font-size: 16pt;
    display: block;
    margin: 20px 0;
    text-align: center;
    color: #000;
}

.dropbtn{
    font-size: 16pt;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color_text);
    color: var(--back_color);
}

a {
    margin: 5px;
    font-size: 12pt;
}

.menu a{
    font-size: 12pt;
}

a:hover {
    animation-name: transfusion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #8c00ff;
}

.logo a {
    font-size: 24pt;
}

/* Переключатель - коробка вокруг ползунка */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Скрыть флажок HTML по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Ползунок */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #4b4b4b;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4b4b4b;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Закругленные ползунки */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.hero, .mailing_list{
    height: calc(100vh - 50px);
    box-sizing: border-box;
    background-image: url(../img/space.jpg);
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.hero h1 {
    margin-top: 0;
    font-size: 52px;
    margin: 0;
    z-index: 3;
}

.hero p {
    font-size: 34px;
    margin: 0;
    z-index: 3;
}

.hero a {
    font-size: 34px;
    color: #fff;
    margin-top: 30px;
    z-index: 3;
}

.hero a:hover{
    color: #8c00ff;
}

.hero div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.about {
    display: flex;
    background-color: var(--back_color);
    color: var(--color_text);
}

.about img {
    height: 100vh;
}

.about div {
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
}

.about p {
    font-size: 16pt;
    text-align: left;
}

.about ul{
    font-size: 16pt;
}

.about li{
    width: 100%;
    margin-top: 10px;
}


.highlights {
    background-color: var(--color_text);
    color: var(--back_color);
    padding: 40px 20px;
}

.highlights li {
    font-size: 16pt;
}


.text_for_about_us{
    padding: 20px;
    display: flex;
    background-color: var(--back_color);
    color: var(--color_text);
}

.text_for_about_us img{
    height: 100%;
    border-radius: 10px;
    margin: 10px;
}

.text_for_about_us div{
    padding: 10px;
    font-size: 16pt;
}

.text_for_about_us h2{
    text-align: left;
}



.about_us{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--back_color);
    padding: 10px;
}

.about_us h2{
    color: var(--color_text);
    margin: 30px 0;
}

.about_us video{
    box-sizing: border-box;
    width: 80%;
    margin: 20px;
    border-radius: 20px
}

.reviews{
    padding: 80px;
    background-color: var(--back_color_reviews);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reviews h2{
    color: var(--color_text);
}

.slide{
    z-index: 1;
    box-shadow: 0px 0px 100px 62px rgba(65, 65, 65, 0.57);
    box-sizing: border-box;
    min-width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: var(--color_text);
    background-color: var(--maessage_color);
    transition: transform 0.2s;
}

.slide a{
    color: #d198ff;
}

.slide data{
    font-size: 8pt;
}

.reviews {
    padding: 80px 0;
    position: relative;
    /* margin: auto; */
    overflow: hidden;
  }

.slides {
    width: 320px;
    display: flex;
    transition: transform 0.5s ease;
  }
  

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    height: 100%;
    width: 60px;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}

.organizers{
    display: flex;
    background-color: var(--back_color);
    color: var(--color_text);
    justify-content: space-between;
    object-fit: fill;
}

.organizers div{
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
}

.organizers p, .organizers ul{
    font-size: 16pt;
}

.mailing_list form{
    box-sizing: border-box;
    background-color: var(--back_color_reviews);
    color: var(--color_text);
    width: 300px;
    font-size: 16pt;
    padding: 10px;
    border-radius: 10px;
}

.mailing_list input:not(#agreement){
    box-sizing: border-box;
    background-color: var(--maessage_color);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 100%;
}

.mailing_list input::placeholder{
    color: #ccc;
}

.mailing_list h3{
    font-size: 18pt;
    margin: 10px 0;
}

.mailing_list label{
    font-size: 14pt;
    text-align: left;
}

.mailing_list button{
    width: 100%;
    font-size: 14pt;
    margin-top: 10px;
    padding: 5px;
    border: none;
    color: var(--back_color);
    background-color: var(--color_text);
    border-radius: 10px;
}

.mailing_list button:hover{
    background-color: #8c00ff;
    animation-name: btn_anim;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #fff;
}


footer {
    background-color: var(--back_color);
    color: var(--color_text);
    padding: 20px;
}

@keyframes transfusion {
    0% {
        color: var(--color_text);
    }
    100% {
        color: #8c00ff;
    }
}

@keyframes btn_anim{
    0%{
        color: var(--back_color);
        background-color: var(--color_text);
    }
    100%{
        background-color: #8c00ff;
        color: #fff;
    }
}

@media(max-width: 1200px) {
    .organizers{
        flex-direction: column;
    }

    .organizers img{
        width: auto;
        height: 700px;
        object-fit: contain;
    }
}

@media (max-width: 450px) {
    .text_for_about_us{
        flex-direction: column;
    }

    .header_desktop{
        display: none;
    }

    .header_mobail{
        display: flex;
    }

    .about, .organizers{
        flex-direction: column;
    }

    .organizers div{
        padding: 20px;
    }

    .about img{
        height: auto;
        width: 100%;
    }

    .about_us div{
        padding: 10px;
    }

    .about_us video{
        width: 100%;
    }

    .hero{
        background-size:auto 100%;
    }

    .hero h1{
        font-size: 28pt;
    }

    .hero p{
        font-size: 18pt;
    }

    p{
        font-size: 16pt;
    }

    .slide{
        box-sizing: border-box;
        min-width: 250px;
    }

    .slide p{
        font-size: 12pt;
    }

    .slides{
        box-sizing: border-box;
        width: 270px;
    }

    button.prev, button.next{
        height: 100px;
        width: 50px;
    }
}