body {
    all: unset;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 28pt;
}

header {
    height: 50px;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    margin: 5px;
    font-size: 14pt;
}

.menu a:hover {
    animation-name: transfusion;
    animation-duration: 500ms;
    animation-timing-function: ease;
    color: #ff009d;
}

.logo a {
    font-size: 24pt;
}

.hero {
    box-sizing: border-box;
    background-image: url(../img/space.jpg);
    background-size: 100% auto;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 60px;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.hero h1 {
    margin-top: 0;
    font-size: 52px;
    margin: 0;
    z-index: 3;
}

.hero p {
    font-size: 34px;
    margin: 0;
    z-index: 3;
}

.hero a {
    font-size: 34px;
    color: #ff009d;
    margin-top: 30px;
    z-index: 3;
}

.hero div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 2;
}

.about {
    text-align: center;
    display: flex;
    background-color: #fff;
}

.about img {
    height: 100vh;
}

.about div {
    width: 100%;
}

.highlights {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
}

.highlights li {
    font-size: 16pt;
}

footer {
    padding: 20px;
}

@keyframes transfusion {
    0% {
        color: #000;
    }
    100% {
        color: #ff009d;
    }
}