body{
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form{
    background-color: #646464;
    width: 360px;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin: 10px;
    text-align: center;
}

input{
    width: 100%;
    font-size: 18pt;
    padding: 5px;
    background-color: #353535;
    box-sizing: border-box;
    border: none;
    border-radius: 8px;
    color: #fff;
}

#reg_button, #regaut{
    all: unset;
    width: 100%;
    background-color: #ff009d;
    border-radius: 5px;
    text-align: center;
    font-size: 21pt;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 5px;
}

label{
    font-size: 14pt;
}

#male, #female, #consent{
    width: auto;
}

#male, #female, #consent{
    all: unset;
    background-color: #353535;
    width: 9pt;
    height: 9pt;
    border-radius: 50%;
    cursor: pointer;
}

#consent{
    border-radius: 2pt;
}

#male:checked, #female:checked, #consent:checked{
    background-color: #ff009d;
}

#regaut{
    color: #fff;
    background-color: #353535;
    margin-bottom: 10px;
}

.consent{
    margin-top: 8px;
}

.form-container { display: none; }
.active { display: block; }
