<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statick/css/competition.css">
    <title>Конкурсы</title>
    <link rel="icon" href="../statick/img/logo2.png">
</head>
<body>
    <header class="header_desktop">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt="">Год семьи</a>
        </div>
        <div class="menu">
            <a href="../templates/registration.html">Вход/Регистрация</a>
            <a href="../templates/schedule.html">Расписание</a>
            <a href="../templates/account.html">Личный кабинет</a>
            <a href="../templates/competition.html">Конкурсы</a>
            <a href="#about_us">О нас</a> 
        </div>
        <div class="cont">
            <div class="search">
                <input type="text" placeholder="Поиск...">
                <button>Поиск</button>
            </div>
        </div>
    </header>
    <header class="header_mobail">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt=""></a>
        </div>
        <button class="dropbtn" onclick="open_menu()">Меню</button>
    </header>
    <div id="dropdown">
        <div class="search">
            <input type="text" placeholder="Поиск...">
            <button>Поиск</button>
        </div>
        <a href="../templates/registration.html">Вход/Регистрация</a>
        <a href="../templates/schedule.html">Расписание</a>
        <a href="../templates/account.html">Личный кабинет</a>
        <a href="../templates/competition.html">Конкурс</a>
    </div>

    <main>
        <h1>Описание конкурсов</h1>
        <p>Прикольные конкурсы, представленные на нашем сайте, станут находкой для любого праздника.</p>
    </main>
    <div class="blackout">
        <section>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>

        <section>
            <img class="main_img" src="../statick/img/2.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>  

        <section>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>

        <section>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>

        <section>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>

        <section>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
            <div class="description">
                <h2>Название конкурса</h2>
                <div class="statistics">
                    <div><h4>4.2</h4> <img src="../statick/img/star.ico" alt=""></div>
                    <div><h4>52/100</h4> <img src="../statick/img/people.ico" alt=""></div>
                </div>
                <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
                <a href="../templates/schedule.html">Записаться</a>
            </div>
        </section>

    </div>  
    <script src="../statick/js/menu.js"></script>
</body>
</html>