<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statick/css/competition.css">
    <title>Конкурсы</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html">Логотип</a>
        </div>
        <div class="menu">
            <a href="../templates/registration.html">Вход/Регистрация</a>
            <a href="../templates/competition.html">Расписание</a>
            <a href="">Личный кабинет</a>
            <a href="../templates/competition.html">Конкурс</a>
        </div>
    </header>
    <main>
        <h1>Описание конкурсов</h1>
        <p>Прикольные конкурсы, представленные на нашем сайте, станут находкой для любого праздника.</p>
    </main>
    <section>
        <div>
            <img class="main_img" src="../statick/img/1.jpg" alt="">
        </div>
        <div class="description">
            <h2>Название конкурса</h2>
            <div class="statistics">
                <div><h4>4.2</h3> <img src="../statick/img/star.ico" alt=""></div>
                <div><h4>52/100</h3> <img src="../statick/img/people.ico" alt=""></div>
            </div>
            <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
        </div>
    </section>

    <aside>     
        <h2>Записаться на конкурсы</h2>   
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>12:00-13:00</h3>
            <h4>48ост.</h4>
        </div>
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>13:00-14:00</h3>
            <h4>48ост.</h4>
        </div>
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>14:00-15:00</h3>
            <h4>48ост.</h4>
        </div>
    </aside>

    <section>
        <div class="description">
            <h2>Название конкурса</h2>
            <div class="statistics">
                <div><h4>4.2</h3> <img src="../statick/img/star.ico" alt=""></div>
                <div><h4>52/100</h3> <img src="../statick/img/people.ico" alt=""></div>
            </div>
            <p>Описание конкурса: Описание конкурсаОписание конкурсаОписание конкурсаОписание конкурса</p>
        </div>
        <div>
            <img class="main_img" src="../statick/img/2.jpg" alt="">
        </div>
    </section>

    <aside>     
        <h2>Записаться на конкурсы</h2>   
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>12:00-13:00</h3>
            <h4>48ост.</h4>
        </div>
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>13:00-14:00</h3>
            <h4>48ост.</h4>
        </div>
        <div class="time">
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
            <h3>14:00-15:00</h3>
            <h4>48ост.</h4>
        </div>
    </aside>
    
</body>
</html>