<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="../statick/img/logo2.png">
    <link rel="stylesheet" href="../statick/css/index.css">
</head>

<body>
    <header class="header_desktop">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt="">Год семьи</a>
        </div>
        <div class="menu">
            <a href="../templates/registration.html">Вход/Регистрация</a>
            <a href="../templates/schedule.html">Расписание</a>
            <a href="../templates/account.html">Личный кабинет</a>
            <a href="../templates/competition.html">Конкурсы</a>
            <a href="#about_us">О нас</a>
        </div>
        <div class="cont">
            <div class="search">
                <input type="text" placeholder="Поиск...">
                <button>Поиск</button>
            </div>
            <label class="switch">
                <input type="checkbox" id="theme1">
                <span class="slider round"></span>
            </label>
        </div>
    </header>
    <header class="header_mobail">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt=""></a>
        </div>
        <button class="dropbtn" onclick="open_menu()">Меню</button>
        <label class="switch">
            <input type="checkbox" id="theme2">
            <span class="slider round"></span>
        </label>
    </header>
    <div id="dropdown">
        <div class="search">
            <input type="text" placeholder="Поиск...">
            <button>Поиск</button>
        </div>
        <a href="../templates/registration.html">Вход/Регистрация</a>
        <a href="../templates/schedule.html">Расписание</a>
        <a href="../templates/account.html">Личный кабинет</a>
        <a href="../templates/competition.html">Конкурс</a>
        <a href="#about_us">О нас</a> 
    </div>
    <main>
        <section id="hero" class="hero">
            <h1>Добро пожаловать на наше мероприятие!</h1>
            <p>Присоединяйтесь к нам для незабываемого опыта.</p>
            <a href="../templates/registration.html" class="cta-button">Зарегистрироваться</a>
            <div></div>
        </section>

        <section class="about">
            <div>
                <h2>О мероприятии</h2>
                <p>Приглашаем вас на удивительный День семьи, где мы вместе исследуем бескрайние просторы, имя которым - "Моя семья - мой космос!" Это уникальная возможность провести время с самыми близкими, укрепить семейные узы и отправиться в увлекательное путешествие по галактике любви и взаимопонимания.</p>
                <ul>
                    <li>Запуск ракеты семейного счастья:  Создайте свою уникальную ракету и запустите ее к звездам, загадав самые заветные желания!</li>
                    <li>Планета творчества: Мастер-классы для детей и взрослых по созданию космических поделок, рисованию созвездий и моделированию планет.</li>
                    <li>Галактика игр: Веселые эстафеты, конкурсы и викторины на космическую тематику для всей семьи.</li>
                    <li>Звездный кинотеатр:  Показ любимых фильмов и мультфильмов о космосе и семейных ценностях.</li>
                </ul>
            </div>
            <img src="../statick/img/foto.jpg" alt="">
        </section>

        <section class="highlights">
            <h2>Основные моменты</h2>
            <ul>
                <li>Интерактивные сессии</li>
                <li>Тематические воркшопы</li>
                <li>Нетворкинг</li>
            </ul>
        </section>
        <section class="about_us" id="about_us">
            <h2>Приветсвие организаторов</h2>
            <video id="myVideo" src="../statick/video/Maxwell Cat.mp4" controls>
                <button>Повтор</button>
            </video>
        </section>

        <section class="reviews">
            <div class="slides">
            <!-- <h2>Отзывы</h2> -->
                <div class="slide" >
                    <h3>Семья Ивановых</h3>
                    <p>Это был просто потрясающий День семьи! Мы с детьми в восторге! Строили ракету, участвовали в космических эстафетах, рисовали планеты - все было так здорово организовано и весело! Особенно понравилась фотозона, сделали там кучу классных фотографий. Огромное спасибо организаторам за такой душевный и объединяющий праздник! Обязательно придем в следующем году!</p>
                </div>

                <div class="slide">
                    <h3>Мария, мама двоих детей</h3>
                    <p>"Мероприятие "Моя семья - мой космос!" превзошло все мои ожидания! Дети были заняты весь день, столько активностей, мастер-классов! Даже я увлеклась и сделала себе космический браслет. Здорово, что удалось совместить тему семьи и космоса - получилось необычно и познавательно. Отдельное спасибо за вкусные угощения на "Межпланетном пикнике". Вернулись домой уставшие, но очень довольные!"</p>
                </div>

                <div class="slide">
                    <h3>Бабушка Тамара с внуком Петей</h3>
                    <p>Какой замечательный праздник! Мой внук Петя просто влюбился в космос!  Он с таким увлечением раскрашивал планеты и слушал рассказы про звезды. Я тоже с удовольствием вспомнила молодость и поучаствовала в конкурсах. Организаторы - молодцы, продумали все до мелочей, и для детей, и для взрослых. Побольше бы таких мероприятий!</p>
                </div>

                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>
                <div class="slide">
                    <h3>Семья Петровых</h3>
                    <p>Очень понравилось мероприятие!  Дети узнали много нового о космосе, а мы, взрослые, смогли отдохнуть и повеселиться. Здорово, что было много активностей на свежем воздухе. Единственное, хотелось бы, чтобы "Встреча с космонавтом" все-таки состоялась, дети очень ждали. Но в целом, все было на высшем уровне!  Спасибо организаторам за чудесный День семьи!</p>
                </div>

            </div>  
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>          
        </section>

        <section class="organizers">
            <div>
                <h2>Организаторы</h2>
                <p>Праздник "Моя Семья - Мой Космос!" организован командой энтузиастов, которые верят в силу семейных уз и безграничность человеческих возможностей. Это:</p>
                <ul>
                    <li>[Название организации 1]: Мы создаём события, которые объединяют людей и дарят незабываемые эмоции. Наша миссия – делать мир ярче и добрее.</li>
                    <li> [Название организации 2]: Мы верим, что семья – это основа всего. Наша цель – поддерживать семейные ценности и помогать семьям становиться крепче и счастливее.</li>
                    <li>[Название организации 3]: Мы увлечены космосом и хотим поделиться этой страстью с другими. Мы верим, что исследование Вселенной – это ключ к будущему человечества.</li>
                    <li>При поддержке [Название организации-партнера]: Вместе мы делаем этот праздник возможным и благодарим за неоценимый вклад!</li>
                </ul>
                <p>
                    Мы приглашаем вас стать частью этого уникального события! Приходите всей семьёй, приводите друзей и знакомых, и давайте вместе отправимся в незабываемое космическое путешествие!
                </p>
            </div>
            <img src="../statick/img/foto_org.jpg">
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Мероприятие. Все права защищены.</p><br>
        <a href="tel:+79999999999">Телефон: +7(999) 999-99-99</a><br>
        <a href="mailto:Hiro0161@yandex.ru">e-mail: Hiro0161@yandex.ru</a><br>
        <a href="../templates/index-light.html">Светлая тема главная страница</a>
        <a href="../templates/registration.html">Вход/Регистрация</a>
        <a href="../templates/schedule.html">Расписание</a>
        <a href="../templates/account.html">Личный кабинет</a>
        <a href="../templates/competition.html">Конкурсы</a>
        <a href="#about_us">О нас</a>
    </footer>

    <script src="../statick/js/index.js"></script>