<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statick/css/schedule.css">
    <title>Расписание</title>
    <link rel="icon" href="../statick/img/logo2.png">
</head>
<body>
    <header class="header_desktop">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt="">Год семьи</a>
        </div>
        <div class="menu">
            <a href="../templates/registration.html">Вход/Регистрация</a>
            <a href="../templates/schedule.html">Расписание</a>
            <a href="../templates/account.html">Личный кабинет</a>
            <a href="../templates/competition.html">Конкурсы</a>
            <a href="#about_us">О нас</a>
        </div>
        <div class="cont">
            <div class="search">
                <input type="text" placeholder="Поиск...">
                <button>Поиск</button>
            </div>
        </div> 
    </header>
    <header class="header_mobail">
        <div class="logo">
            <a href="index.html"><img src="../statick/img/logo2.png" alt=""></a>
        </div>
        <button class="dropbtn" onclick="open_menu()">Меню</button>
    </header>
    <div id="dropdown">
        <div class="search">
            <input type="text" placeholder="Поиск...">
            <button>Поиск</button>
        </div>
        <a href="../templates/registration.html">Вход/Регистрация</a>
        <a href="../templates/schedule.html">Расписание</a>
        <a href="../templates/account.html">Личный кабинет</a>
        <a href="../templates/competition.html">Конкурс</a>
    </div>

    <main>
        <div class="blackout">
            <h1>Расписание конкурсов</h1>
            <p>Здесь можно узнать как записаться на кокурс</p>
        </div>
    </main>
    <section>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option style="background-color: #ff000083;" value="">11:00 - 12:00 0 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 0 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
        <div class="contest">
            <img src="../statick/img/3.jpg" alt="">
            <h2>Название конкурса</h2>
            <label for="time">21.01.2025</label>
            <select name="" id="time">
                <option value="">9:00 - 10:00 32 ост.</option>
                <option value="">11:00 - 12:00 32 ост.</option>
                <option value="">12:00 - 13:00 32 ост.</option>
                <option value="">13:00 - 14:00 32 ост.</option>
                <option value="">14:00 - 15:00 32 ост.</option>
                <option value="">15:00 - 16:00 32 ост.</option>
                <option value="">16:00 - 17:00 32 ост.</option>
                <option value="">17:00 - 18:00 32 ост.</option>
                <option value="">18:00 - 19:00 32 ост.</option>
                <option value="">19:00 - 20:00 32 ост.</option>
                <option value="">20:00 - 21:00 32 ост.</option>
            </select>
            <button>Записаться</button>
        </div>
    </section>
    <script src="../statick/js/menu.js"></script>
</body>
</html>